<!DOCTYPE html>
<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Lily Vosper   </title>
          
              
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Lily's Blog", "Index", "Home") </p>
                    <h6><a class="fa fa-instagram fa-2x" href="https://www.instagram.com/parma_violet95/"></a><a class="site-subheader" href="https://www.instagram.com/parma_violet95">Parma_Violet95</a></h6>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Lily Vosper</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
